.homepage{
	position: relative;
	width: 100%;
	min-height: 100vh;
	background-image: url('../../Ảnh Pokemon Dự Trù/фон\ общий-min.svg');
	background-position: right bottom;
	background-attachment: fixed;
	background-size: cover;
}

/*Header*/
.navbar {
	height: 110px;
	background: linear-gradient(to right, rgb(18, 18, 130),lightblue);
	position: relative;
	display: flex;
	align-items: center;
}

.navbar_active {
	height: 410px;
	background: linear-gradient(to right, rgb(18, 18, 130),lightblue);
	position: relative;
	display: flex;
	align-items: center;
}

/*Pokemon banner*/
.pokemon-banner{
	position: absolute;
	margin-left: 43%;
	margin-top: -5px;
	width: 15%;
}

.pokemon-banner_active{
	position: absolute;
	margin-left: 43%;
	margin-top: -5px;
	width: 15%;
	margin-bottom:17.5%;
}

/*List of menu options*/
ul {
	margin-top:13%;
	margin-left:200px;
}

ul li {
	display: inline;
	cursor: pointer;
	color:black;
	list-style-type:none;
	font-size:40px;
	padding-left:20%;
}

/*List of user information*/
.user-info{
	margin-top: 50px;
}

.user-info .user-id{
	position: absolute;
	margin-left:31%;
	color:white;
	font-size: 40px;
	margin-top:-1.5%;
	font-weight:bold;
}

.user-info li{
	margin-top:2%;
	margin-left:20px;
	display: block;
	cursor: auto;
	color:white;
	list-style-type:none;
	font-size:25px;
	padding-bottom:-5px;
	min-width:400px;
}

.user-info li,
.user-info button{
	margin-bottom: -3%;
}

.user-info .link-invitation{
	position: absolute;
	border-radius: 25px;
	outline:1px solid white;
  	padding: 20px;
	color:white;
	height:5px;
	width:300px;
	margin-top:0.5%;
	margin-left:5%;
}

.yellow-btn{
	border: none;
	outline: none;
	background-color:rgb(211, 211, 103);
	border-radius: 20px;
	color:white;
	margin-top:60px;
	min-width:120px;
	min-height:40px;
	margin-left:80px;
	border: none;
	outline: none;
}

.user-info .satoshi{
	position:absolute;
	margin-top: -10%;
	margin-left:12%;
	width:50%;
	height:80%;
}

.menu-info li:hover{
	cursor: pointer;
	color:aqua;
} 

/*Log out button*/
.white_btn_in {
	margin-left:90%;
	border: none;
	outline: none;
	padding: 12px 0;
	background-color: aqua;
	border-radius: 20px;
	width: 120px;
	font-weight: bold;
	font-size: 14px;
	cursor: pointer;
	position:absolute;
}

.white_btn_in_active{
	margin-left:90%;
	border: none;
	outline: none;
	padding: 12px 0;
	background-color: aqua;
	border-radius: 20px;
	width: 120px;
	font-weight: bold;
	font-size: 14px;
	cursor: pointer;
	position:absolute;
	margin-bottom:17.5%;
}

/*Main Content*/


/*Icon*/
.icon-menu{
	margin-left:10%;
	height:20px;
	position: absolute;
  	display: inline-block;
}

.icon_menu_active{
	margin-left:10%;
	height:20px;
	position: absolute;
  	display: inline-block;
	margin-bottom:17.5%;
}

.icon-menu:hover{
	cursor: pointer;
	background-color:aqua;
}

.icon_menu_active:hover{
	cursor: pointer;
	background-color:aqua;
}

.icon-user{
	position:absolute;
	margin-left:85%;
	height:50%;
}

.icon-user:hover{
	cursor: pointer;
}

.icon-user_active{
	position:absolute;
	margin-left:85%;
	height:13%;
	margin-bottom:17.5%;
}

.icon-user_active:hover{
	cursor: pointer;
}

.pokeball{
	height:50px;
	width:50px;
}

/*Telegram option*/
.paper-plane{
	color:yellow;
	height:30px;
	margin-left:140%;
	margin-top:60px;
}

.telegram-user{
	color:white;
	font-size:20px;
	margin-top:10px;
	float:right;
	margin-right:-350px;
}

.telegram-user:hover{
	cursor: pointer;
	color:aqua;
}

/*Icon at the right bottom of screen*/

.english-icon-mainpage{
	position:relative;
	width:55px;
	height:70px;
	margin-left:95.1%;
	margin-top:34%;
}

.support-icon-mainpage{
	position: relative;
	width:100px;
	height:75px;
	margin-left:94%;
}

.english-icon-mainpage_active{
	position:relative;
	width:55px;
	height:70px;
	margin-left:95.1%;
	margin-top:16.5%;
}

.support-icon-mainpage_active{
	position: relative;
	width:100px;
	height:75px;
	margin-left:94%;
}