.homepage {
    position: relative;
    width: 100%;
    min-height: 100vh;
    background-image: url('../../Ảnh Pokemon Dự Trù/фон\ общий-min.svg');
    background-position: right bottom;
    background-attachment: fixed;
    background-size: cover;
    overflow-x: hidden;
    overflow-y: auto;
}

.main_container {
    height: 120px;
}

/*Header*/
.navbar {
    width: 100%;
    height: 120px;
    background: linear-gradient(87.52deg, #2570B5 21.14%, #67DEEE 91.14%);
    display: flex;
    align-items: center;
    margin-left: 0;
    margin-right: 0;
    padding: 10px 0;

    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
}

.navbar_active {
    min-height: 400px;
    max-height: 700px;
    background: linear-gradient(87.52deg, #2570B5 21.14%, #67DEEE 91.14%);
    border-radius: 0 0 50px 50px;
    position: relative;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    box-shadow: 0 0 40px rgba(0, 0, 0, .8);
    padding: 10px 0 50px;
}

/*Pokemon banner*/
.pokemon-banner {
    position: absolute;
    width: 250px;
    height: 150px;
    top: -25px;
    left: 50%;
    transform: translateX(-50%);
}

.pokemon-banner_active {
    position: absolute;
    width: 250px;
    height: 150px;
    top: -25px;
    left: 50%;
    transform: translateX(-50%);
}

/*List of menu options*/
.menu-info {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 0 70px;
}

ul li {
    display: inline;
    cursor: pointer;
    color: #FFF;
    margin: 0 20px;
    font-size: 40px;
    font-weight: 700;
    text-shadow: 0 8px 5px #000;
    list-style-type: none;
}

.menu-info li:hover {
    cursor: pointer;
    color: aqua;
}

/*Main Content*/

/*Telegram option*/
.menu-info-icons {
    width: 100%;
    margin-top: 20px;
    padding: 0 70px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
}

.info-icons-container {
    text-align: center;
}

.paper-plane {
    color: yellow;
    height: 50px;
}

.telegram-user {
    display: block;
    color: white;
    font-size: 24px;
}

.telegram-user:hover {
    cursor: pointer;
    color: aqua;
}

