.homepage{
	position: relative;
	width: 100%;
	min-height: 100vh;
	background-image: url('../../../Ảnh Pokemon Dự Trù/фон\ общий-min.svg');
	background-position: right bottom;
	background-attachment: fixed;
	background-size: cover;
}

/*Header*/
.navbar-new_active{
    height: 500px;
	background: linear-gradient(to right, rgb(18, 18, 130),lightblue);
	position: relative;
	display: flex;
	align-items: center;
}

.icon-new-menu_active{
	margin-left:10%;
	height:20px;
	position: absolute;
  	display: inline-block;
	margin-bottom:17.5%;
	margin-top:-5.5%;
}

.icon-new-menu_active:hover{
	cursor:pointer;
	color:aqua;
}

.pokemon-banner-new_active{
	position: absolute;
	margin-left: 43%;
	margin-top: -5.5%;
	width: 15%;
	margin-bottom:17.5%;
}

.icon-user-new_active{
	position:absolute;
	margin-left:85%;
	height:13%;
	margin-bottom:17.5%;
	margin-top:-5%;
	height:60px;
}

.icon-user-new_active:hover{
	cursor: pointer;
}

.white_btn_in-new_active{
	margin-left:90%;
	border: none;
	outline: none;
	padding: 12px 0;
	background-color: aqua;
	border-radius: 20px;
	width: 120px;
	font-weight: bold;
	font-size: 14px;
	cursor: pointer;
	position:absolute;
	margin-bottom:17.5%;
	margin-top:-5%;
}

/*All infos on menu*/
#info-3-col{
	color:white;
	margin-left:20%;
	margin-top:10%;
	font-size:20px;
	max-height:200px;
}

.row li{
	color:yellow;
	font-size:30px;
	cursor: auto;
}

.col-sm button{
	border: none;
	outline: none;
	padding: 12px 0;
	background: linear-gradient(to right, rgb(160, 160, 9),rgb(211, 211, 103));
	color:white;
	border-radius: 20px;
	width: 120px;
	font-size: 20px;
	cursor: pointer;
	align-items: center;
	margin-top:-70px;
	margin-bottom: 20px;
	padding-left:35px;
}

.container .title-referal{
	color:white;
	font-size:30px;
	margin-left:45%;
	margin-top:5%;
}

.container .link-invitation{
	position: absolute;
	border-radius: 25px;
	outline:1px solid white;
  	padding: 20px;
	color:white;
	height:5px;
	width:300px;
	margin-left:30%;
}



/*Icons below*/
.english-icon-mainpage-new_active{
	position: relative;
	width:100px;
	height:55px;
	margin-left:93.8%;
	margin-top:11.7%;
}

.support-icon-mainpage-new_active{
	position: relative;
	width:100px;
	height:75px;
	margin-left:94%;
	margin-top:7px;
}
