.referals__container {
	max-width: 1200px;
	margin: 0 auto;
	padding-bottom: 30px;
}
.referals__link {
	margin-bottom: 32px;
	display: flex;
	flex-direction: column;
	align-items: center;
}
.referals__title {
	font-weight: 400;
	font-size: 48px;
	margin-bottom: 8px;
	color: #ffffff;
}
.referals__info-wrapper {
	display: flex;
	justify-content: space-between;
	width: 100%;
}
.referals__info {
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
}
.referals__text {
	margin-top: 23px;
	font-weight: 600;
	font-size: 32px;
	color: #ffffff;
	margin-bottom: 13px;
}
.referals__count-wrapper {
	display: flex;
	flex-direction: column;
	align-items: center;
}
.referals__count {
	font-weight: 500;
	font-size: 32px;
	color: #ffcc00;
}
@media screen and (max-width: 980px) {
	.referals__info-wrapper .yellow-btn {
		font-size: 25px;
		width: 160px;
		margin-right: 0;
	}
	.referals__text {
		font-size: 25px;
		margin-top: 10px;
		margin-bottom: 5px;
	}
	.referals__title {
		font-size: 40px;
	}
}
@media screen and (max-width: 740px) {
	.main__header {
		padding: 5px 20px;
	}
	.referals__info-wrapper .yellow-btn {
		font-size: 20px;
		max-width: 120px;
	}
	.referals__text {
		font-size: 16px;
	}
	.referals__count {
		font-size: 16px;
	}
}
@media screen and (max-width: 470px) {
	.referals__info-wrapper .yellow-btn {
		font-size: 20px;
		max-width: 100px;
	}
	.referals__text{
		  font-size: 12px;
	}
}
@media screen and (max-width: 410px) {
	.referals__info-wrapper .yellow-btn {
		font-size: 20px;
		max-width: 100px;
	}
}
