.homepage {
    position: relative;
    width: 100%;
    min-height: 100vh;
    background-image: url('../../../Ảnh Pokemon Dự Trù/фон\ общий-min.svg');
    background-position: right bottom;
    background-attachment: fixed;
    background-size: cover;
    overflow-x: hidden;
    overflow-y: auto;
}

/*All infos on menu*/
.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 40px;
}

#info-3-col {
    display: flex;
    align-items: flex-start;
}

#info-3-col .col-sm {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
    font-size: 32px;
    color: #FFF;
    font-weight: 700;
}

#info-3-col .col-sm span {
    display: block;
    padding: 10px 0;
}

ul.row {
    padding: 0;
    margin: 0;
    text-align: center;
    justify-content: center;
}

.row li {
    padding: 0;
    color: #FFCC00;
    font-size: 30px;
    cursor: auto;
    text-shadow: none;
    font-weight: 600;
}

.col-sm button {
    display: block;
    padding: 5px;
    background: linear-gradient(230.64deg, #FFDC4E 27.47%, #CCA307 62.2%);
    border: 2px solid #475176;
    color: white;
    border-radius: 42px;
    width: 160px;
    font-size: 32px;
    text-align: center;
    outline: none;
}

.container .title-referal {
    color: white;
    font-size: 48px;
    text-align: center;
}

.container .link-invitation {
    border-radius: 25px;
    outline: 1px solid white;
    padding: 5px 20px;
    color: white;
    height: 55px;
    width: 500px;
}
