.user-info-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%;
}

.user-id {
	display: block;
	font-weight: 600;
	font-size: 44px;
	text-shadow: -3px 5px 4px #164268;
	margin-bottom: 20px;
	color: #ffffff;
}

.user-info-wrapper {
	position: relative;
	width: 100%;
	max-width: 1300px;
}

.user-info .user-id {
	position: absolute;
	margin-left: 31%;
	color: white;
	font-size: 36px;
	margin-top: -1.5%;
	font-weight: bold;
}

.user-info li {
	display: block;
	cursor: auto;
	color: white;
	list-style-type: none;
	font-size: 30px;
	margin-left: 0;
	text-shadow: none;
	margin-bottom: 5px;
}
.user-info li span {
	color: #ffcc00;
}

.link-invite {
	position: relative;
	border-radius: 17px;
	color: white;
	min-height: 50px;
	font-size: 30px;
	font-weight: 300;
	padding: 8px 30px;
}
.copy-icon {
	cursor: pointer;
	margin-left: 20px;
	transition: all 0.3s ease-in-out;
}

.copy-icon:hover {
	color: #ffcc00;
}

.copy-icon:active {
	color: #0bdc5f;
}
.user-info-buttons {
	display: flex;
	flex-direction: row;
	margin: 30px 0;
}

.yellow-btn {
	display: block;
	padding: 5px 10px;
	background: linear-gradient(230.64deg, #ffdc4e 27.47%, #cca307 62.2%);
	border: 2px solid #475176;
	color: white;
	border-radius: 17px;
	width: 203px;
	font-size: 30px;
	text-align: center;
	outline: none;
	margin-right: 20px;
}

.satoshi {
	object-fit: cover;
	top: 0;
	right: 0px;
	position: absolute;
	height: 100%;
}
@media screen and (max-width: 950px) {
	.satoshi {
		width: 230px;
		right: -30px;
	}
}

@media screen and (max-width: 765px) {
	.satoshi {
		width: 190px;
		height: 250px;
		top: -40px;
	}
}
@media screen and (max-width: 715px) {
	.link-invite {
		display: inline-block;
		margin-top: 5px;
		font-size: 23px;
	}

	.user-info li {
		font-size: 23px;
	}
	.user-info li span {
		font-size: 23px;
	}
	.copy-icon:hover {
		color: inherit;
	}

	.copy-icon:active {
		color: #0bdc5f;
	}
}
@media screen and (max-width: 620px) {
	.satoshi {
		right: -50px;
	}
}
@media screen and (max-width: 590px) {
	.link-invite {
		font-size: 18px;
		padding: 8 13px;
	}
	.user-info li {
		font-size: 18px;
	}
	.user-info li span {
		font-size: 18px;
	}
}
@media screen and (max-width: 530px) {
	.satoshi {
		right: -60px;
	}
}
@media screen and (max-width: 510px) {
	.user-info {
		padding-left: 0;
	}
	.link-invite {
		padding: 8px 15px;
	}
	.copy-icon {
		margin-left: 10px;
	}
	.yellow-btn {
		font-size: 24px;
	}
}
@media screen and (max-width: 440px) {
	.user-id {
		font-size: 30px;
	}
	.link-invite {
		font-size: 4.1vw;
		line-height: 2;
	}
	.satoshi {
		right: -50px;
	}
	.satoshi {
		top: -58px;
		width: 170px;
		height: 230px;
	}
}
@media screen and (max-width: 420px) {
	.satoshi {
		top: -58px;
		width: 156px;
		height: 190px;
	}
}
@media screen and (max-width: 374px) {
	.satoshi {
		width: 130px;
		height: 180px;
	}
}
@media screen and (max-width: 343px) {
	.satoshi {
		top: -60px;
		width: 100px;
		height: 150px;
	}
}
