<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Восстановление пароля</title>
</head>
<body>
 <h1>Забыли свой пароль?</h1>
  <p>Введите свой адрес электронной почты ниже, и мы вышлем вам по электронной почте инструкции по настройке нового пароля.</p>
  <form method="POST" action="{% url 'password_reset' %}">
    {% csrf_token %}
    {{ form.as_p }}
    <input type="submit" value="Отправить инструкцию!">
  </form>
</body>
</html>