.site-main-game {
    height: 100%;
    min-height: 100vh;
    background: linear-gradient(103.9deg, rgba(0, 0, 0, 0.56) -3.06%, rgba(194, 194, 194, 0) 103.09%);
    padding: 20px 0;
}

.site-main-game-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    min-height: 80vh;
}

.text-game {
    color: white;
    text-align: center;
    font-size: 36px;
    font-weight: 700;
    text-shadow: 0 8px 5px #000;
    margin-bottom: 20px;
}

/*Pokeballs*/
.container-pack-pokeballs {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
    max-width: 1200px;
    padding: 0 20px;
}