a {
	text-decoration: none;
}
p {
	margin: 0;
}

.homepage-wrapper {
	min-height: 100vh;
	background-image: url('../../../assets/MainBackground.jpg');
	background-attachment: fixed;
	background-size: cover;
	background-position: bottom;
	overflow-x: hidden;
	overflow-y: auto;
}
.main__header {
	background: linear-gradient(87.52deg, #2570b5 21.14%, #67deee 91.14%);
	box-shadow: 0px 11px 6px rgba(0, 0, 0, 0.47);
	border-radius: 0px 0px 32px 32px;
	padding: 5px 35px;
	position: absolute;
	width: 100%;
	z-index: 9999;
	overflow-x: hidden;
}
.main-logo {
	width: 210px;
	object-fit: cover;
}
.menu-btn {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 70px;
	cursor: pointer;
	transition: all 0.5s ease-in-out;
}
.menu-btn__burger {
	width: 40px;
	height: 6px;
	background: #000000;
	border-radius: 5px;
	transition: all 0.5s ease-in-out;
}
.menu-btn__burger::before,
.menu-btn__burger::after {
	content: '';
	position: absolute;
	width: 40px;
	height: 6px;
	background: #000000;
	border-radius: 5px;
	transition: all 0.5s ease-in-out;
}
.menu-btn__burger::before {
	transform: translateY(-12.8px);
}
.menu-btn__burger::after {
	transform: translateY(12.8px);
}
.menu-btn.open .menu-btn__burger {
	transform: translateX(-50px);
	background: transparent;
}
.menu-btn.open .menu-btn__burger::before {
	transform: rotate(45deg) translate(35px, -35px);
}
.menu-btn.open .menu-btn__burger::after {
	transform: rotate(-45deg) translate(35px, 35px);
}

.main__menu img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}
.main__nav {
	padding-top: 5px;
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.main-img {
	cursor: pointer;
}
.main__list {
	max-width: 1250px;
	width: 100%;
	justify-content: space-between;
	display: flex;
	margin-bottom: 30px;
}
.main__item {
	margin: 0;
}
.main__links {
	display: flex;
	align-items: center;
	flex-direction: column;
	padding-top: 50px;
	margin-bottom: 30px;
}
.main__link {
	font-weight: 600;
	font-size: 34px;
	text-transform: uppercase;
	text-decoration: none;
	color: #ffffff;
	filter: drop-shadow(0px 7px 4px rgba(0, 0, 0, 0.71));
	transition: 0.5s all ease;
}
.main__link:hover {
	color: #ffcc00;
}
.main__blocks {
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}
.main__block {
	text-align: center;
	height: 90px;
	cursor: pointer;
}
.main__block img {
	margin-bottom: 14px;
}
.main__block:nth-child(1) {
	padding-top: 9px;
	margin-right: 35px;
}
.main__text {
	margin-top: auto;
	margin-bottom: 0;
	font-weight: 400;
	font-size: 20px;
	line-height: 23px;
	text-transform: uppercase;
	color: #ffffff;
	padding-right: 10px;
	transition: 0.5s all ease;
}
.main__text:hover {
	color: #ffcc00;
}
.site-main-game {
	height: 100%;
	padding-top: 150px;
}

.site-main-game-wrapper {
	display: flex;
	flex-direction: column;
	align-items: center;
	min-height: 80vh;
}

.text-game {
	color: white;
	text-align: center;
	font-size: 34px;
	font-weight: 700;
	text-shadow: 0 8px 5px #000;
	margin-bottom: 20px;
}

/*Pokeballs*/
.container-pack-pokeballs {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	width: 100%;
	max-width: 1200px;
	padding: 0 20px;
	padding-top: 25px;
}
.homepage {
	position: relative;
	width: 100%;
	min-height: 100vh;
	/* background-image: url('../../assets/MainBackground.png'); */
	background-position: right bottom;
	background-attachment: fixed;
	background-size: cover;
	overflow-x: hidden;
	overflow-y: auto;
}

.main_container {
	height: 120px;
}
.navbar {
	width: 100%;
	height: 120px;
	background: linear-gradient(87.52deg, #2570b5 21.14%, #67deee 91.14%);
	border-radius: 0 0 25px 25px;
	display: flex;
	align-items: center;
	margin-left: 0;
	margin-right: 0;
	padding: 10px 0;

	position: fixed;
	top: 0;
	left: 0;
	z-index: 100;
}

.navbar_active {
	min-height: 400px;
	max-height: 700px;
	background: linear-gradient(87.52deg, #2570b5 21.14%, #67deee 91.14%);
	border-radius: 0 0 50px 50px;
	position: fixed;
	display: flex;
	align-items: center;
	flex-direction: column;
	justify-content: space-between;
	box-shadow: 0 0 40px rgba(0, 0, 0, 0.8);
	padding: 10px 0 50px;
	top: 0;
	width: 100%;
	z-index: 100;
}

/*Pokemon banner*/
.pokemon-banner {
	position: absolute;
	width: 250px;
	height: 150px;
	top: -25px;
	left: 50%;
	transform: translateX(-50%);
}

.pokemon-banner_active {
	position: absolute;
	width: 250px;
	height: 150px;
	top: -25px;
	left: 50%;
	transform: translateX(-50%);
}

/*List of menu options*/
.menu-info {
	width: 100%;
	display: flex;
	justify-content: space-between;
	padding: 0 70px;
}

ul li {
	display: inline;
	cursor: pointer;
	color: #fff;
	margin: 0 20px;
	font-size: 36px;
	font-weight: 700;
	text-shadow: 0 8px 5px #000;
	list-style-type: none;
}

.menu-info li:hover {
	cursor: pointer;
	color: aqua;
}

/*Main Content*/

/*Telegram option*/
.menu-info-icons {
	width: 100%;
	margin-top: 20px;
	padding: 0 70px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-end;
}

.info-icons-container {
	text-align: center;
}

.paper-plane {
	color: yellow;
	height: 50px;
}

.telegram-user {
	display: block;
	color: white;
	font-size: 22px;
	text-decoration: none;
	text-underline: none;
}

.telegram-user:hover {
	cursor: pointer;
	color: aqua;
}

@media (min-width: 0px) and (max-width: 412px) {
	.menu-info {
		margin-left: -35%;
	}

	ul li {
		font-size: 10.3px;
		margin-left: 10%;
	}

	.paper-plane {
		height: 30px;
	}

	.telegram-user {
		font-size: 13px;
	}
}

@media only screen and (min-width: 413px) and (max-width: 600px) {
	.menu-info {
		position: relative;
		margin-left: -20%;
	}

	ul li {
		font-size: 16px;
		margin-left: 5%;
	}

	.paper-plane {
		height: 35px;
	}

	.telegram-user {
		font-size: 15px;
	}
}

@media only screen and (min-width: 600px) and (max-width: 767px) {
	.menu-info {
		position: relative;
		margin-left: -10%;
	}

	ul li {
		font-size: 20px;
		margin-left: 5%;
	}

	.telegram-user {
		font-size: 16px;
	}
}

@media only screen and (min-width: 768px) and (max-width: 1024px) {
	.menu-info {
		position: relative;
		margin-left: -10%;
	}

	ul li {
		font-size: 25px;
		margin-left: 5%;
	}

	.telegram-user {
		font-size: 16px;
	}
}

@media screen and (max-width: 1100px) {
	.main__list {
		padding-left: 0;
	}
	.main__link {
		font-size: 30px;
	}
}
@media screen and (max-width: 900px) {
	.main__list {
		padding-left: 0;
	}
	.main__link {
		font-size: 25px;
	}
}
@media screen and (max-width: 765px) {
	.main__list {
		text-align: center;
		flex-direction: column;
		margin-bottom: 10px;
	}
	.main__item {
		margin-bottom: 12px;
	}
	.main__block img {
		width: 48px;
		height: 38px;
		object-fit: cover;
		margin-bottom: 10px;
	}
	.main__block:nth-child(1) {
		padding-top: 0;
	}
	.main__link {
		font-size: 25px;
		text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.71);
	}
	.main__links {
		padding-top: 0px;
		margin-bottom: 0px;
	}
}
@media screen and (max-width: 500px) {
	.main-logo {
		width: 150px;
	}
	.main-img {
		width: 40px;
	}
	.menu-btn {
		height: 70px;
	}
}
@media screen and (max-width: 420px) {
	.main__text {
		font-size: 13px;
	}
	.main__nav {
		padding-top: 10px;
	}
}
@media screen and (max-width: 400px) {
	.main__links {
		margin-bottom: 0;
	}
	.main__block:nth-child(1) {
		padding-top: 3px;
	}
	.main__block:nth-child(1) img {
		width: 32px;
		height: 26px;
	}
	.main__block:nth-child(2) img {
		width: 36px;
		height: 28px;
	}
}
@media screen and (max-width: 370px) {
	.main__header {
		padding: 5px 25px;
	}
	.main-img {
		width: 50px;
		height: 50px;
	}
}

@media only screen and (max-width: 412px) {
	.text-game {
		font-size: 25px;
	}

	.container-pack-pokeballs {
		margin-left: 0%;
	}
}

@media only screen and (min-width: 413px) and (max-width: 600px) {
	.text-game {
		font-size: 25px;
	}
}
