@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Roboto;
}

@keyframes fade {
    0% {
        opacity: 0
    }
    1% {
        opacity: 1
    }
    100% {
        opacity: 1
    }
}
* {
    --delay: 500ms
}
.fade {
    opacity: 0; 
    animation: fade 100s ease-out infinite var(--delay);
}
.wrapper{
    width: 100vw;
    min-height: 100vh;
    background-image: url('../../../assets/fr47-background.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    display: flex;
    justify-content: end;
    padding: 35px 2vw 31px 86px;

}
.logo{
    position: absolute;
    top: 35px;
    left: 86px;
    z-index: 1;
}
.content{
    display: flex;
    flex-direction: column;
    min-height: calc(100vh - 35px - 31px);
    align-items: end;    
    justify-content: space-between;
    z-index: 2;
}
.title{
    margin-top: 30px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 600;
    font-size: 90px;
    line-height: 105px;
    text-transform: uppercase;
    color: #005108;
    transform: translateX(-20%);
}
.pikachu-words{
    position: absolute;
    top: 46vh;
    left: 80vw;
    display: flex;
    justify-content: end;
}
.words{
    display: flex;
    flex-direction: column;
    width: 500px;
    height: 280px;
    position: fixed;
    align-items: center;
    padding: 15px 20px;
    background-color: #fff;
    text-align: center;
    border-radius: 0 30px 30px 30px;
}
.words::before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: -49px;
    width: 50px;
    height: 50px;
    background-color: #fff;
    clip-path: polygon(100% 0, 0 0, 100% 100%);
}
.words-title{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 600;
    font-size: 32px;
    line-height: 38px;
    text-transform: uppercase;
    color: #F62D13;
}
.words-description{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 600;
    font-size: 32px;
    line-height: 38px;
    text-align: center;    
    color: #000000;
    margin-top: 26px;
}
.table{
    margin-right: 100px;
    display: grid;
    grid-template-columns: repeat(3, 170px);
}
.table-item{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 50px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 600;
    font-size: 40px;
    line-height: 47px;
    color: rgba(255, 255, 255, 0.79);
}
.br-top{
    border-top: 1px solid #FFFFFF;
}
.br-left{
    border-left: 1px solid #FFFFFF;
}