.pay-wrapper {
	width: 100%;
	height: 100%;
	min-height: 90vh;
	padding: 20px;
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
	padding-top: 200px;
}

.pay-title-wrapper {
	display: flex;
	flex-direction: column;
	color: #fff;
}

.pay-title {
	font-size: 44px;
	text-shadow: 0 5px 5px #000;
}

.pay-subtitle {
	font-size: 34px;
	line-height: 42px;
	text-shadow: 0px 3px 1px rgba(0, 0, 0, 0.5);
}

.pay-money {
	color: #ffcc00;
	font-size: 34px;
	font-weight: 600;
	margin-bottom: 20px;
}
.pay-invalid-inp {
	border: 1px solid red !important;
}

/*INPUTS*/

.history-table-text-intable {
	font-size: 15px;
	text-align: start;
	padding-left: 5px;
}
.pay-inputs-wrapper {
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: stretch;
	flex-wrap: wrap;
	margin-bottom: 71px;
	max-width: 800px;
}

.pay-input {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	color: #fff;
	width: 49%;
}

.pay-input label {
	font-weight: 600;
	font-size: 14px !important;
	padding-left: 20px;
}

.pay-sum-inp-pay {
	width: 100%;
	height: 52px;
	background-color: #fff;
	border-radius: 17px;
	border: 3px solid #c0e4ea;
	padding: 15px 20px;
	font-size: 24px;
	font-weight: 600;
	color: #475176;
	outline: none;
}

.pay-input-info {
	font-size: 13.5px;
	font-weight: 600;
	align-self: center;
	line-height: 1;
	padding-top: 5px;
}
.pay-input-pay {
	align-self: auto;
	max-width: 400px;
}

.pay-button {
	padding: 5px 30px;
	background: #ffcc00;
	border: 3px solid #475176;
	box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
	border-radius: 17px;
	color: #1a255e;
	font-size: 28px;
	font-weight: 600;
	transition: all 0.3s ease-in-out;
	margin-bottom: 59px;
	opacity: 0.8;
	transition: 0.3s all ease;
}
.pay-button:hover {
	opacity: 1;
}
.yellow-btn {
	opacity: 0.8;
	transition: 0.3s all ease;
}
.yellow-btn:hover {
	opacity: 1;
}
.css-1yzzujv {
	opacity: 0 !important;
}

/*pay HISTORY*/

.pay-history-wrapper {
	width: 90%;
	background-color: #fff;
	border-radius: 25px;
	border: 3px solid #1e3371;
	padding: 20px;
}

.pay-history-title {
	display: block;
	font-weight: 600;
	font-size: 32px;
	color: #475176;
	margin-bottom: 30px;
}

.pay-history-table {
	display: grid;
	grid-template-columns: minmax(200px, auto) minmax(200px, auto) 1fr minmax(
			200px,
			auto
		);
	color: #475176;
}

.history-table-title {
	display: block;
	width: 100%;
	padding: 0 10px;
	font-size: 20px;
	font-weight: 600;
	border-bottom: 2px solid #475176;
	text-align: start;
}

.history-table-column {
	min-height: 100px;
}

.history-table-column:not(:last-child) {
	border-right: 2px solid #475176;
}
.pay-wrapper-form {
	width: 100%;
}
.pay-pay-info {
	padding-left: 10px;
	font-weight: 600;
	font-size: 20px;
}
@media (max-width: 1050px) {
	.pay-history-table {
		grid-template-columns: minmax(150px, auto) minmax(150px, auto) 1fr minmax(
				150px,
				auto
			);
	}
}
@media (max-width: 980px) {
	.history-table-title {
		font-size: 16px;
	}
}
@media (max-width: 790px) {
	.pay-history-wrapper {
		width: 100%;
	}
	.history-table-title {
		font-size: 14px;
	}
	.pay-pay-info {
		font-size: 16px;
		padding-left: 10px;
	}
	.pay-inputs-pay {
		flex-direction: column;
		align-items: center;
	}
}
@media screen and (max-width: 800px) {
	.pay-inputs-wrapper {
		flex-direction: column;
		justify-content: center;
		align-items: center;
		margin-bottom: 30px;
	}
	.pay-input {
		width: 80%;
		margin-bottom: 10px;
	}
}

@media screen and (max-width: 700px) {
	.pay-history-title {
		font-size: 18px;
		margin-bottom: 10px;
	}
	.history-table-title {
		font-size: 12px;
	}
}
@media screen and (max-width: 500px) {
	.pay-history-title {
		font-size: 18px;
		margin-bottom: 10px;
	}
	.history-table-title {
		font-size: 12px;
	}
	.pay-inputs-wrapper {
		margin-bottom: 50px;
	}
	.pay-inputs-pay {
		padding: 0 10px;
		width: 100%;
	}
	.pay-sum-inp-info {
		min-width: auto;
	}
	.pay-input {
		width: 95%;
	}
}
@media screen and (max-width: 425px) {
	.pay-input label {
		padding-left: 30px;
	}
	.history-table-text-intable {
		font-size: 12px !important;
		text-align: start !important;
		padding-left: 5px !important;
	}
}
@media screen and (max-width: 400px) {
	.pay-wrapper {
		padding: 0;
		padding-top: 130px;
	}
}
