.pay-container {
    width: 100%;
    height: 100%;
    min-height: 90vh;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 30px;
    background: linear-gradient(103.9deg, rgba(0, 0, 0, 0.56) -3.06%, rgba(194, 194, 194, 0) 103.09%);
}

.pay-title-wrapper {
    display: flex;
    flex-direction: column;
    color: #FFF;
}

.pay-title {
    font-size: 48px;
    text-shadow: 0 5px 5px #000;
}

.pay-subtitle {
    font-size: 32px;
    font-weight: 600;
    text-shadow: 0 5px 5px #000;
}

.pay-money {
    color: #FFCC00;
    font-size: 36px;
    font-weight: 600;
}

/*INPUTS*/
.pay-form {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 40px;
    align-items: center;
}
.pay-inputs-wrapper {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}

.pay-input {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    color: #FFF;
}

.pay-input label {
    font-weight: 600;
    font-size: 32px;
}

.pay-sum-input, .pay-address-input {
    width: 100%;
    min-width: 400px;
    height: 50px;
    background-color: #FFF;
    border-radius: 25px;
    border: 3px solid #C0E4EA;
    padding: 15px 20px;
    font-size: 24px;
    font-weight: 600;
    color: #475176;
    outline: none;
    display: flex;
    align-items: center;
}

.pay-input-info {
    font-size: 20px;
    font-weight: 600;
    align-self: flex-end;
}

/*PAY BUTTON*/

.pay-button {
    padding: 5px 30px;
    background: #FFCC00;
    border: 3px solid #475176;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 53px;
    color: #475176;
    font-size: 32px;
    font-weight: 600;
    transition: all .3s ease-in-out;
    max-width: 350px;
    width: 100%;
}

.pay-button:hover {
    background-color: #475176;
    color: #FFF;
}

/*PAY HISTORY*/

.pay-history-wrapper {
    width: 90%;
    background-color: #FFF;
    border-radius: 25px;
    border: 3px solid #1E3371;
    padding: 20px;
}

.pay-history-title {
    display: block;
    font-weight: 600;
    font-size: 32px;
    color: #475176;
    margin-bottom: 30px;
}

.pay-history-row {
    display: grid;
    grid-template-columns: minmax(70px, 200px) minmax(70px, 200px) 1fr minmax(70px, 200px);
    color: #475176;
}

.history-table-title {
    display: block;
    width: 100%;
    padding: 0 10px;
    font-size: 20px;
    font-weight: 600;
    border-bottom: 2px solid #475176;
}

.history-table-column {
    min-height: 40px;
}
.pay-history-row:first-child .history-table-column{
    min-height: 60px;
}
.history-table-column:not(:last-child) {
    border-right: 2px solid #475176;
}

@media (max-width: 950px) {
    .history-table-title {
        min-height: 63px;
    }
}
