.background-start {
	position: relative;
	background-attachment: fixed;
	background-size: cover;
	height: 100vh;
	overflow: hidden;
}

.logo-tokemon {
	position: absolute;
	top: -40px;
	height: 40%;
	width: fit-content;
	left: 50%;
	transform: translateX(-50%);
	margin-left: 0;
	z-index: 1000;
}

.main-bg {
	width: 100%;
	height: 100%;
	object-fit: cover;
}
.start-game {
	top: 48.5%;
	left: 51%;
	transform: translate(-50%, 50%);
	position: absolute;
	text-align: center;
	font-weight: 500;
	color: #000000;
	transition: all 0.3s ease;
	cursor: pointer;
	font-size: 34px;
}
.start-game:hover {
	color: #fc0;
}

@media screen and (max-width: 1500px) {
	.start-game {
		font-size: 30px;
	}
}

@media screen and (max-width: 1000px) {
	.start-game {
		left: 51.5%;
		top: 49.3%;
		font-size: 25px;
	}
}
@media screen and (max-width: 650px) {
	.logo-tokemon {
		height: 35%;
	}
	.start-game {
		left: 52.5%;
	}
}
@media screen and (max-width: 580px) {
	.logo-tokemon {
		top: 0px;
		height: 30%;
	}
	.start-game {
		left: 52.3%;
	}
}
@media screen and (max-width: 480px) {
	.start-game {
		left: 53.5%;
	}
}
@media screen and (max-height: 700px) {
	.start-game {
		top: 47.3%;
	}
}
