.site-main,
.site-main_active {
	position: fixed;
	bottom: 10px;
	right: 10px;
	display: flex;
	flex-direction: column;
	align-items: center;
	z-index: 9999;
}

.lang-list {
	display: flex;
	flex-direction: column;
	padding: 0;
	margin: 0;
}

.lang-list.hidden {
	display: none;
}

.lang-list li {
	margin: 5px 0 0 0;
	height: 45px;
	font-size: unset;
}

.lang-icon,
.lang-icon_active {
	width: 45px;
	height: 45px;
	object-fit: cover;
}

.lang-icon-preview {
	z-index: 9999;
	position: absolute;
	top: -50px;
	left: 50%;
	transform: translateX(-50%);
	width: 45px;
	height: 45px;
	display: block;
	cursor: pointer;
	object-fit: cover;
}

.lang-icon-preview.hidden {
	display: none;
}

.support-icon-mainpage,
.support-icon-mainpage_active {
	width: 55px;
	height: 55px;
}
@media screen and (max-width: 670px) {
	.lang-icon_active {
		width: 35px;
		height: 35px;
	}
	.lang-list li {
		margin: 3px;
		height: auto;
	}
	.lang-icon {
		width: 35px;
		height: 35px;
	}
}
@media screen and (max-width: 700px) and (max-height: 560px) {
	.lang-icon {
		width: 35px;
		height: 35px;
	}
	.lang-list li {
		margin: 5px 0 0 0;
		height: 35px;
		font-size: unset;
	}
	.lang-icon-preview {
		width: 35px;
		height: 35px;
	}
	.livechat_button img {
		width: 45px;
		width: 45px;
	}
	.site-main,
	.site-main_active {
		bottom: 5px;
		right: 5px;
	}
}
@media screen and (max-height: 420px) {
	.lang-icon {
		width: 30px;
		height: 30px;
	}
	.lang-list li {
		margin: 5px 0 0 0;
		height: 30px;
		font-size: unset;
	}
	.lang-icon-preview {
		width: 30px;
		height: 30px;
	}
	.livechat_button img {
		width: 40px;
		width: 40px;
	}
	.lang-icon-preview {
		top: -35px;
	}
}
@media screen and (max-height: 380px) {
	.site-main {
		flex-direction: row;
		align-items: flex-end;
	}
	.lang-icon-preview {
		top: 12px;
	}
	.lang-icon-preview {
		left: -30%;
	}
	.lang-list {
		margin-bottom: 14px;
	}
}
