@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Roboto;
}


@keyframes fade {
    0% {
        opacity: 0
    }
    1% {
        opacity: 1
    }
    100% {
        opacity: 1
    }
}
* {
    --delay: 500ms
}
.fade {
    opacity: 0; 
    animation: fade 100s ease-out infinite var(--delay);
}
.title {
    width: 100%;
    display: flex;
    flex-direction: row;
    text-align: center;
    align-items: center;
    justify-content: center;
    font-style: normal;
    font-weight: 600;
    font-size: 64px;
    line-height: 75px;
    text-transform: uppercase;
    font-size: 90px;
    text-shadow: none;
    max-width: calc(100% - 300px);
    align-self: end;
}
.wrapper{
    width: 100vw;
    min-height: 100vh;
    background-image: url('../../../assets/fr49-background.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    display: flex;
    flex-direction: column;
    padding: 35px 50px 50px 50px;
    justify-content: space-between;
}
.top {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.logo {
    margin-right: -150px;
}
.text {
    font-size: 21px;
    background-color: #fff;
    border-radius: 20px;
    padding: 10px 30px;
    text-align: center;
}
.link {
    width: 100%;
    margin-top: 0.5rem;
    text-align: center;
}
.link a {
    color: black; 
    text-decoration: none;
}