@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap');
@keyframes fade {
    0% {
        opacity: 0
    }
    1% {
        opacity: 1
    }
    100% {
        opacity: 1
    }
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    --delay: 100ms;
}
.wrapper{
    padding: 55px 38px 35px 108px;
    width: 100vw;
    min-height: 100vh;
    background-image: url('../../../assets/fr45-background.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;

    display: flex;
    flex-direction: column;
    align-items: end;
}
.image-box{
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    left: 6.64%;
    right: 70.56%;
    z-index: 1;
}
.pokeboll{
    width: 309px;
    height: 322.09px;
}
.content{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: calc(100vh - 55px - 35px);
    width: calc(100vw - 38px - 108px);
    align-items: end;
    z-index: 2;
}
.column{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.title{
    margin-top: 20px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 600;
    font-size: 80px;
    line-height: 94px;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: #000000;
}
.description{
    padding: 28px 64px 19px 37px;
    background-color: #fff;
    border-radius: 29px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 28px;
    max-width: 50vw;
}
.game-rules{
    display: flex;
    align-items: center;
    flex-direction: column;
    width: auto;
    margin-left: auto;
    margin-right: auto;

}
.rules{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 28px;
    padding: 0 31px 6px 48px;
    display: flex;
    flex-direction: column;
    align-items: start;
}
fieldset {
    border: 8px solid #FFFFFF;
    border-radius: 6px;
    backdrop-filter: blur(2px);

}
legend {
    width: auto;
    margin-left: auto;
    margin-right: auto;
}

.fade {
    opacity: 0; 
    animation: fade 100s ease-in infinite var(--delay);
}