.pay-container {
    width: 100%;
    height: 100%;
    min-height: 90vh;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 30px;
    background: linear-gradient(103.9deg, rgba(0, 0, 0, 0.56) -3.06%, rgba(194, 194, 194, 0) 103.09%);
}

.pay-title-wrapper {
    display: flex;
    flex-direction: column;
    color: #FFF;
}

.pay-title {
    font-size: 48px;
    text-shadow: 0 5px 5px #000;
}

.pay-subtitle {
    font-size: 32px;
    font-weight: 600;
    text-shadow: 0 5px 5px #000;
}

.pay-money {
    color: #FFCC00;
    font-size: 36px;
    font-weight: 600;
}

/*INPUTS*/

.pay-inputs-wrapper {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}

.pay-input {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    color: #FFF;
}

.pay-input label {
    font-weight: 600;
    font-size: 32px;
}

.pay-sum-input, .pay-address-input {
    width: 100%;
    min-width: 400px;
    height: 50px;
    background-color: #FFF;
    border-radius: 25px;
    border: 3px solid #C0E4EA;
    padding: 15px 20px;
    font-size: 24px;
    font-weight: 600;
    color: #475176;
    outline: none;
}

.pay-input-info {
    font-size: 20px;
    font-weight: 600;
    align-self: flex-end;
}

/*PAY BUTTON*/

.pay-button {
    padding: 5px 30px;
    background: #FFCC00;
    border: 3px solid #475176;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 53px;
    color: #475176;
    font-size: 32px;
    font-weight: 600;
    transition: all .3s ease-in-out;
}

.pay-button:hover {
    background-color: #475176;
    color: #FFF;
}

/*PAY HISTORY*/

.pay-history-wrapper {
    width: 90%;
    background-color: #FFF;
    border-radius: 25px;
    border: 3px solid #1E3371;
    padding: 20px;
}

.pay-history-title {
    display: block;
    font-weight: 600;
    font-size: 32px;
    color: #475176;
    margin-bottom: 30px;
}

.pay-history-table {
    display: grid;
    grid-template-columns: minmax(70px, 200px) minmax(70px, 200px) 1fr minmax(70px, 200px);
    color: #475176;
}

.history-table-title {
    display: block;
    width: 100%;
    padding: 0 10px;
    font-size: 20px;
    font-weight: 600;
    border-bottom: 2px solid #475176;
}

.history-table-column {
    min-height: 100px;
}

.history-table-column:not(:last-child) {
    border-right: 2px solid #475176;
}

@media (max-width: 950px) {
    .history-table-title {
        min-height: 63px;
    }
}


@media only screen and (max-width: 412px) {
    .pay-sum-input, .pay-address-input{
        min-width:200px !important;
    }

    .pay-history-wrapper {
        width: 85% !important;
        margin-left: -20%;
    }

    .history-table-title{
        font-size:13px !important;
        margin-left: -20px;
    }
    .history-table-column {
        width: 60px;
    }

    .history-table-column h3{
        font-size:12px;
        margin-left:-40%;
    }

    .history-table-column .sum{
        margin-left:-10px;
    }
}

@media only screen and (min-width:413px) and (max-width: 600px){
    .pay-history-wrapper {
        width: 90% !important;
        margin-left: -15%;
    }

    .history-table-title{
        margin-left:-5%;
        font-size:13px !important;
    }

    .history-table-column h3{
        font-size:12px;
        margin-left:-8%;
    }
}

@media only screen and (min-width: 600px) and (max-width:767px){
    .pay-history-wrapper {
        width: 90% !important;
        margin-left: -15%;
    }

    .history-table-column h3{
        font-size:15px;
    }
}
