.menu {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 100px;
    width: 100%;
}

/*Icon*/
.icon-menu, .icon_menu_active {
    width: 50px;
    height: 50px;
    margin-left: 20px;
    cursor: pointer;
    transition: color .3s ease-in-out;
}

.icon-menu:hover, .icon_menu_active:hover {
    color: #FFF;
}

.icon-user, .icon-user_active {
    height: 80px;
    cursor: pointer;
}

.pokeball {
    height: 50px;
    width: 50px;
}

/*Log out button*/
.white_btn_in, .white_btn_in_active {
    padding: 12px 15px;
    margin: 0 20px;
    background-color: aqua;
    border-radius: 20px;
    border: 3px solid #000;
    font-weight: bold;
    font-size: 24px;
    cursor: pointer;
    transition: background-color .3s ease-in-out;

    outline: none;
}

.white_btn_in:hover, .white_btn_in_active:hover {
    background-color: #FFCC00;
}


@media (min-width:0px) and (max-width: 412px){
    .icon-menu, .icon_menu_active{
        width:30px;
        height:30px;
    }

    .pokemon-banner, .pokemon-banner_active{
        width:130px;
        left:30%;
    }

    .icon-user, .icon-user_active{
        height:50px;
    }

    .white_btn_in, .white_btn_in_active{
        margin-left:0px;
    }
}

@media only screen and (min-width:413px) and (max-width: 600px){
    .icon-menu, .icon_menu_active{
        width:30px;
        height:30px;
    }

   .pokemon-banner, .pokemon-banner_active{
     width:130px;
     left:35%;
   }

   .icon-user, .icon-user_active{
     height:50px;
   }
}

@media only screen and (min-width: 600px) and (max-width:767px){
    .pokemon-banner, .pokemon-banner_active{
        left:40%;
    }
}
